<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Broadcast Group Chat</title>
    <link rel='stylesheet' href='/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var name = prompt('Your name: ');
            var socket = io.connect();
            $('form').submit(function(){
                socket.emit('new_message', {name: name, message: this.message.value});
                $('#m').val('');
                return false;
            });
            var count = 0;
            socket.on('post_messages', function(data){
                var messages = data.messages;
                if(messages.length > 0){
                    for(var i = count; i < messages.length; i++){
                        $('#board').append(messages[i].name+': '+messages[i].message+'<br>');
                        count++;
                    }
                }
            });
        });
    </script>
</head>
<body>
    <p><ul>Conversation Board</ul></p>
    <div id='board'>
    
    </div>
    <div>
        <form action="">
            <textarea id='m' name="message" placeholder="enter your message here" cols="100" rows="1"></textarea>
            <input type="submit" value="send">
        </form>
    </div>
</body>
</html>